@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.bar {
    width: 20px;
    margin: 1px;
    height: 20px;
}

.break {
    border-top: 2px solid black;
}

.icon {
    width: 20px;
    height: 20px;
}

.lesson {
    width: 15vw;
}

.main {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 50px;
}

.question-box {
    background-color: darkblue;
}

.rotate {
    animation: rotation 2s infinite linear;
}

.tinybar {
    width: 10px;
    margin: 0px;
    height: 10px;
}