@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.bar {
    width: 20px;
    margin: 1px;
    height: 20px;
}

.main {
    margin: auto;
    max-width: 1000px;
}

.question-box {
    background-color: darkblue;
}

.rotate {
    animation: rotation 2s infinite linear;
}

.sun {
    background-color: yellow;
    border-radius: 50%;
    /* creates a circular background */
    height: 100vh;
    /* makes the sun the size of the viewport */
    aspect-ratio: 1 / 1;
    animation: 4s linear 0s infinite alternate sun-rise;
}

.tinybar {
    width: 10px;
    margin: 0px;
    height: 10px;
}

@keyframes sun-rise {
    from {
        /* pushes the sun down past the viewport */
        transform: translateY(110vh);
    }

    to {
        /* returns the sun to its default position */
        transform: translateY(0);
    }
}